extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Mark

        p.lead.text-light
          | Full Stack JavaScript Developer...coming soon
          br
          | Professional Front-end and WordPress developer for now.

        .portfolio-bio
          p
            | Hi, I'm Mark: coder, writer and all round good-guy.
            br
            br 
            | I currently work for the worldwide non-profit ProVeg. Our mission is to save the planet, one meal at a time.
            br
            | In my role at ProVeg I manage a number of websites: a nine-site WordPress multisite installation (proveg.com) 
            | and a number of other sites set up to support ProVeg initiatives such as the Worldwide Vegan Bake Sale, 
            | the VegMed conference and the ProVeg Incubator.
            br
            br
            | Saving the world doesn't pay well however. As such, I'm open to freelance opportunities. Working in the pursuit
            | of capitalist endeavours doesn't thrill me, but I'll be hoenst, disposable income does.
            br
            br
            | If you're impressed by my half-assed portfolio, feel free to contact me by the email listed on the right, 
            | because the phone number is fake.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li React
          li WordPress
          li HTML
          li CSS 
          li JavaScript
          li PHP
          li jQuery
          li Bootstrap
          li Node.js
          li Sass

        h6 Contact Info

        ul
          li +447777789263
          li mark_zachary@hotmail.com

        a.button.expanded(href='https://www.linkedin.com/in/markyz89/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/markyz89' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/Markyboy89' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  